# Import

In [19]:
import requests
import pandas as pd
import numpy as np
import duckdb

import matplotlib.pyplot as plt

from datetime import datetime
from astral import LocationInfo
from astral.sun import sun
from pysolar.solar import get_altitude
import pytz

from dateutil.relativedelta import relativedelta

from tqdm import tqdm

# Variable

In [57]:
ELECTIC_API_KEY = "pz0pOPI21dJbBbf8RfnUWeTk5RTxNA1FDvip8vmv"
SERIES_ID = "EBA.CAL-ALL.D.H"  

START_DATE = "2025-11-20"
END_DATE = "2025-11-23"
YEAR = 2025

RENEWABLE = ["SUN", "WND"]

LAT = 36.7783
LON = -119.4179
TIME_ZONE_SEASON = 'US/Pacific'
TIME_ZONE_WATHER = "America/Los_Angeles"
CITY = LocationInfo(name="California", region="USA", timezone=TIME_ZONE_SEASON, latitude=LAT, longitude=LON)
tzinfo = pytz.timezone(TIME_ZONE_SEASON)

SOLAR = {
    2020: 34.95,
    2021: 37.75,
    2022: 42.27,
    2023: 50.48,
    2024: 56.27,
    2025: 65.43,
}

WIND = {
    2020: 2400,
    2021: 2491,
    2022: 2465,
    2023: 2514,
    2024: 2544,
    2025: 2593,
}

# Season

In [3]:
def get_season(d):
    m = d.month
    day = d.day
    if (m == 12 and day >= 21) or (m <= 3 and (m < 3 or (m == 3 and day <= 19))):
        return "Winter"
    elif (m == 3 and day >= 20) or (m < 6) or (m == 6 and day <= 20):
        return "Spring"
    elif (m == 6 and day >= 21) or (m < 9) or (m == 9 and day <= 21):
        return "Summer"
    else:
        return "Autumn"

In [4]:
def process_seasonal_data():
    period = pd.date_range(start=f"{START_DATE}", end=f"{END_DATE}", freq='h')
    season_df = pd.DataFrame({'period': period})

    season_df["date"] = season_df["period"].dt.normalize()

    season_df['day_of_year'] = season_df['date'].dt.dayofyear
    season_df['month'] = season_df['date'].dt.month

    season_df['sin_doy'] = np.sin(2 * np.pi * season_df['day_of_year'] / 365)
    season_df['cos_doy'] = np.cos(2 * np.pi * season_df['day_of_year'] / 365)

    season_df['season'] = season_df['date'].apply(get_season)

    season_df["time"] = season_df["period"].dt.strftime("%H:%M")
    
    sunrise_list, sunset_list, zenith_list = [], [], []

    for ts in tqdm(season_df['date']):
        s = sun(CITY.observer, date=ts.date(), tzinfo=tzinfo)
        sunrise_list.append(s['sunrise'].isoformat())
        sunset_list.append(s['sunset'].isoformat())

        local_noon = datetime(ts.year, ts.month, ts.day, 12, 0, 0, tzinfo=tzinfo)
        zenith_angle = 90 - get_altitude(LAT, LON, local_noon)
        zenith_list.append(zenith_angle)

    season_df['sunrise'] = sunrise_list
    season_df['sunset'] = sunset_list
    season_df['solar_zenith_noon_deg'] = zenith_list
    
    season_df['sunrise_time'] = season_df['sunrise'].apply(lambda x: x.split("T")[1].split(".")[0])
    season_df['sunset_time'] = season_df['sunset'].apply(lambda x: x.split("T")[1].split(".")[0])

    season_df['sunrise_time_h'] = season_df['sunrise'].apply(lambda x: int(x.split("T")[1].split(":")[0]))
    season_df['sunrise_time_m'] = season_df['sunrise'].apply(lambda x: int(x.split("T")[1].split(":")[1]))

    season_df['sunset_time_h'] = season_df['sunset'].apply(lambda x: int(x.split("T")[1].split(":")[0]))
    season_df['sunset_time_m'] = season_df['sunset'].apply(lambda x: int(x.split("T")[1].split(":")[1]))

    season_df['date'] = season_df['date'].dt.normalize()

    season_df["season"] = season_df["season"].map({
        "Winter": 1,
        "Spring": 2,
        "Summer": 3,
        "Autumn": 4
    })

    return season_df

In [5]:
season_df = process_seasonal_data()

feature_season = ['time', 'date', 'day_of_year', 'sin_doy', 'cos_doy', 'season', 'solar_zenith_noon_deg', 'sunrise_time_h', 'sunrise_time_m', 'sunset_time_h', 'sunset_time_m']
final_season_df = season_df[feature_season]

final_season_df

100%|██████████| 49/49 [00:00<00:00, 1522.21it/s]

,time,date,day_of_year,sin_doy,cos_doy,season,solar_zenith_noon_deg,sunrise_time_h,sunrise_time_m,sunset_time_h,sunset_time_m
0,00:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
1,01:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
2,02:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
3,03:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
4,04:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
5,05:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
6,06:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
7,07:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
8,08:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
9,09:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
10,10:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
11,11:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
12,12:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
13,13:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
14,14:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
15,15:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
16,16:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
17,17:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
18,18:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
19,19:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
20,20:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
21,21:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
22,22:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
23,23:00,2025-11-20,324,-0.648630,0.761104,4,56.680187,6,41,16,44
24,00:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
25,01:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
26,02:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
27,03:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
28,04:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
29,05:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
30,06:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
31,07:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
32,08:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
33,09:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
34,10:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
35,11:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
36,12:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
37,13:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
38,14:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
39,15:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
40,16:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
41,17:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
42,18:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
43,19:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
44,20:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
45,21:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
46,22:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
47,23:00,2025-11-21,325,-0.635432,0.772157,4,56.896007,6,42,16,44
48,00:00,2025-11-22,326,-0.622047,0.782980,4,57.105657,6,43,16,43

# Wather

In [6]:
hourly_wather_vars = [
    # Solar radiation
    "shortwave_radiation",
    "direct_radiation",
    "diffuse_radiation",
    "direct_normal_irradiance",

    # Cloud details
    "cloudcover",
    "cloudcover_low",
    "cloudcover_mid",
    "cloudcover_high",

    # Atmosphere
    "temperature_2m",
    "relativehumidity_2m",
    "dewpoint_2m",
    "surface_pressure",
    "vapour_pressure_deficit",

    # Wind (turbine levels + gust)
    "windspeed_10m",
    "winddirection_10m",
    "windspeed_100m",
    "winddirection_100m",
    "windgusts_10m",

    # Precipitation
    "precipitation",
    "rain",
    "snowfall",
]

In [7]:
def call_wather_data():
    wather_params = {
        "latitude": LAT,
        "longitude": LON,
        "timezone": TIME_ZONE_WATHER,
        "start_date": START_DATE,
        "end_date": END_DATE,
        "hourly": ",".join(hourly_wather_vars)
    }
    
    wather_url = "https://archive-api.open-meteo.com/v1/archive"
    wather_response = requests.get(wather_url, params=wather_params)
    wather_data = wather_response.json()

    if "error" in wather_data:
        print("Error:", wather_data["reason"])
    else:
        wather_hourly_df = pd.DataFrame(wather_data["hourly"])

    wather_hourly_df["date"] = pd.to_datetime(wather_hourly_df["time"]).dt.normalize()
    wather_hourly_df["time"] = pd.to_datetime(wather_hourly_df["time"]).dt.strftime("%H:%M")
    
    return wather_hourly_df

In [8]:
wather_hourly_df = call_wather_data()
wather_hourly_df

,time,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,cloudcover,cloudcover_low,cloudcover_mid,cloudcover_high,temperature_2m,...,vapour_pressure_deficit,windspeed_10m,winddirection_10m,windspeed_100m,winddirection_100m,windgusts_10m,precipitation,rain,snowfall,date
0,00:00,0.0,0.0,0.0,0.0,98,0,22,98,9.9,...,0.22,2.7,20,4.4,291,6.1,0.0,0.0,0.0,2025-11-20
1,01:00,0.0,0.0,0.0,0.0,100,1,72,100,9.9,...,0.22,6.8,65,11.3,61,10.1,0.0,0.0,0.0,2025-11-20
2,02:00,0.0,0.0,0.0,0.0,100,2,94,95,10.0,...,0.23,5.6,69,10.5,86,12.6,0.0,0.0,0.0,2025-11-20
3,03:00,0.0,0.0,0.0,0.0,39,4,37,0,9.5,...,0.18,1.8,53,1.3,172,8.6,0.0,0.0,0.0,2025-11-20
4,04:00,0.0,0.0,0.0,0.0,95,1,95,0,10.1,...,0.26,7.1,63,10.9,61,10.8,0.0,0.0,0.0,2025-11-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,19:00,0.0,0.0,0.0,0.0,0,0,0,0,9.6,...,0.17,3.2,38,5.2,2,6.1,0.0,0.0,0.0,2025-11-22
68,20:00,0.0,0.0,0.0,0.0,0,0,0,0,9.8,...,0.23,2.6,25,7.5,307,5.4,0.0,0.0,0.0,2025-11-22
69,21:00,0.0,0.0,0.0,0.0,0,0,0,0,10.2,...,0.29,1.7,49,6.0,321,4.0,0.0,0.0,0.0,2025-11-22
70,22:00,0.0,0.0,0.0,0.0,0,0,0,0,9.1,...,0.23,4.0,82,3.3,119,6.5,0.0,0.0,0.0,2025-11-22
71,23:00,0.0,0.0,0.0,0.0,0,0,0,0,7.7,...,0.16,6.2,73,8.2,126,11.2,0.0,0.0,0.0,2025-11-22

# Electic Genaration

In [59]:
def fetch_eia_data(start_date, end_date, api_key, respondents=["CISO"], fueltypes=["SUN","WND"]):
    dfs = []
    current_start = pd.to_datetime(start_date)
    final_end = pd.to_datetime(end_date)

    while current_start <= final_end:
        current_end = min(current_start + relativedelta(months=3) - pd.Timedelta(days=1), final_end)
        
        elec_url = (
            "https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/"
            f"?api_key={api_key}"
            "&frequency=hourly"
            "&data[0]=value"
        )
        
        for r in respondents:
            elec_url += f"&facets[respondent][]={r}"
        for f in fueltypes:
            elec_url += f"&facets[fueltype][]={f}"
        
        elec_url += f"&start={current_start.strftime('%Y-%m-%dT%H')}"
        elec_url += f"&end={current_end.strftime('%Y-%m-%dT%H')}"
        
        # elec_url += f"&start=2025-11-20T00"
        # elec_url += f"&end=2025-11-22T05"
        
        resp = requests.get(elec_url)
        resp.raise_for_status()
        data = resp.json()
        
        if "response" in data and "data" in data["response"]:
            df = pd.DataFrame(data["response"]["data"])
            dfs.append(df)
        
        current_start = current_end + pd.Timedelta(hours=1)

    full_df = pd.concat(dfs, ignore_index=True)
    
    return full_df

In [60]:
def electic_data_preprocess(elec_res_df, solar, wind):
    elec_res_df["period"] = pd.to_datetime(elec_res_df["period"])

    elec_res_df["date"] = elec_res_df["period"].dt.normalize()

    elec_res_df["year"] = elec_res_df["period"].dt.year
    elec_res_df["month"] = elec_res_df["period"].dt.month
    elec_res_df["day"] = elec_res_df["period"].dt.day

    elec_res_df["time"] = elec_res_df["period"].dt.strftime("%H:%M")
    
    elec_renewable = elec_res_df[elec_res_df["fueltype"].isin(RENEWABLE)]
    elec_renewable["fueltype"] = elec_renewable["fueltype"].map({
        "SUN": 1,
        "WND": 2
    })
    
    elec_renewable["solar_count"] = elec_renewable["year"].map(solar)
    elec_renewable["wind_turbine_count"] = elec_renewable["year"].map(wind)
    
    elec_renewable = elec_renewable.dropna()
    
    return elec_renewable

In [61]:
elec_res_df = fetch_eia_data(START_DATE, END_DATE, ELECTIC_API_KEY)
elec_renewable = electic_data_preprocess(elec_res_df, SOLAR, WIND)

In [62]:
feature_req = ["time", "date", "day", "month", "year", "fueltype", "type-name", "solar_count", "wind_turbine_count", "value"]
final_reg_df = elec_renewable[feature_req].copy() 
final_reg_df

,time,date,day,month,year,fueltype,type-name,solar_count,wind_turbine_count,value
0,00:00,2025-11-23,23,11,2025,1,Solar,65.43,2593,6378
1,00:00,2025-11-23,23,11,2025,2,Wind,65.43,2593,1117
2,23:00,2025-11-22,22,11,2025,1,Solar,65.43,2593,7223
3,23:00,2025-11-22,22,11,2025,2,Wind,65.43,2593,1193
4,22:00,2025-11-22,22,11,2025,1,Solar,65.43,2593,7326
...,...,...,...,...,...,...,...,...,...,...
141,02:00,2025-11-20,20,11,2025,2,Wind,65.43,2593,561
142,01:00,2025-11-20,20,11,2025,1,Solar,65.43,2593,6249
143,01:00,2025-11-20,20,11,2025,2,Wind,65.43,2593,448
144,00:00,2025-11-20,20,11,2025,1,Solar,65.43,2593,9733
145,00:00,2025-11-20,20,11,2025,2,Wind,65.43,2593,548

# Merge

In [14]:
merged_df = final_reg_df.merge(
    wather_hourly_df,
    on=["date", "time"],
    how="left"
)

merged_df = merged_df.merge(
    final_season_df,
    on=["date", "time"],
    how="left"
)

merged_df = merged_df.sort_values(by=["date", "time"]).reset_index(drop=True)
merged_df

,time,date,day,month,year,fueltype,type-name,solar_count,wind_turbine_count,value,...,snowfall,day_of_year,sin_doy,cos_doy,season,solar_zenith_noon_deg,sunrise_time_h,sunrise_time_m,sunset_time_h,sunset_time_m
0,00:00,2025-11-20,20,11,2025,1,Solar,65.43,2593,9733,...,0.0,324,-0.648630,0.761104,4,56.680187,6,41,16,44
1,00:00,2025-11-20,20,11,2025,2,Wind,65.43,2593,548,...,0.0,324,-0.648630,0.761104,4,56.680187,6,41,16,44
2,01:00,2025-11-20,20,11,2025,1,Solar,65.43,2593,6249,...,0.0,324,-0.648630,0.761104,4,56.680187,6,41,16,44
3,01:00,2025-11-20,20,11,2025,2,Wind,65.43,2593,448,...,0.0,324,-0.648630,0.761104,4,56.680187,6,41,16,44
4,02:00,2025-11-20,20,11,2025,1,Solar,65.43,2593,770,...,0.0,324,-0.648630,0.761104,4,56.680187,6,41,16,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,22:00,2025-11-21,21,11,2025,2,Wind,65.43,2593,1598,...,0.0,325,-0.635432,0.772157,4,56.896007,6,42,16,44
94,23:00,2025-11-21,21,11,2025,1,Solar,65.43,2593,5035,...,0.0,325,-0.635432,0.772157,4,56.896007,6,42,16,44
95,23:00,2025-11-21,21,11,2025,2,Wind,65.43,2593,1658,...,0.0,325,-0.635432,0.772157,4,56.896007,6,42,16,44
96,00:00,2025-11-22,22,11,2025,1,Solar,65.43,2593,4234,...,0.0,326,-0.622047,0.782980,4,57.105657,6,43,16,43
97,00:00,2025-11-22,22,11,2025,2,Wind,65.43,2593,1507,...,0.0,326,-0.622047,0.782980,4,57.105657,6,43,16,43

In [15]:
merged_df.isna().sum()

time                        0
date                        0
day                         0
month                       0
year                        0
fueltype                    0
type-name                   0
solar_count                 0
wind_turbine_count          0
value                       0
shortwave_radiation         0
direct_radiation            0
diffuse_radiation           0
direct_normal_irradiance    0
cloudcover                  0
cloudcover_low              0
cloudcover_mid              0
cloudcover_high             0
temperature_2m              0
relativehumidity_2m         0
dewpoint_2m                 0
surface_pressure            0
vapour_pressure_deficit     0
windspeed_10m               0
winddirection_10m           0
windspeed_100m              0
winddirection_100m          0
windgusts_10m               0
precipitation               0
rain                        0
snowfall                    0
day_of_year                 0
sin_doy                     0
cos_doy                     0
season                      0
solar_zenith_noon_deg       0
sunrise_time_h              0
sunrise_time_m              0
sunset_time_h               0
sunset_time_m               0
dtype: int64

# Post Process

In [16]:
def final_post_process(merged_df):
    merged_df["time"] = merged_df["time"].str.slice(0, 2).astype(int)

    merged_df["sin_time"] = np.sin(2 * np.pi * merged_df["time"] / 24)
    merged_df["cos_time"] = np.cos(2 * np.pi * merged_df["time"] / 24)

    merged_df["day_of_month_sin"] = np.sin(2 * np.pi * merged_df["day"] / 31)
    merged_df["day_of_month_cos"] = np.cos(2 * np.pi * merged_df["day"] / 31)

    merged_df["month_of_year_sin"] = np.sin(2 * np.pi * merged_df["month"] / 12)
    merged_df["month_of_year_cos"] = np.cos(2 * np.pi * merged_df["month"] / 12)
    
    merged_df['date'] = merged_df['date'].astype(str)
    df_cleaned = merged_df.dropna(subset=['value'])
    df_cleaned['value'] = df_cleaned['value'].astype(int)
    
    return df_cleaned

# Datatype Config

In [17]:
df_cleaned = final_post_process(merged_df)

In [18]:
for i in list(df_cleaned.columns):
  print(i,", Type: " + df_cleaned[i].dtype.name)

time , Type: int64
date , Type: object
day , Type: int32
month , Type: int32
year , Type: int32
fueltype , Type: int64
type-name , Type: object
solar_count , Type: float64
wind_turbine_count , Type: int64
value , Type: int64
shortwave_radiation , Type: float64
direct_radiation , Type: float64
diffuse_radiation , Type: float64
direct_normal_irradiance , Type: float64
cloudcover , Type: int64
cloudcover_low , Type: int64
cloudcover_mid , Type: int64
cloudcover_high , Type: int64
temperature_2m , Type: float64
relativehumidity_2m , Type: int64
dewpoint_2m , Type: float64
surface_pressure , Type: float64
vapour_pressure_deficit , Type: float64
windspeed_10m , Type: float64
winddirection_10m , Type: int64
windspeed_100m , Type: float64
winddirection_100m , Type: int64
windgusts_10m , Type: float64
precipitation , Type: float64
rain , Type: float64
snowfall , Type: float64
day_of_year , Type: int32
sin_doy , Type: float64
cos_doy , Type: float64
season , Type: int64
solar_zenith_noon_deg , Type: float64
sunrise_time_h , Type: int64
sunrise_time_m , Type: int64
sunset_time_h , Type: int64
sunset_time_m , Type: int64
sin_time , Type: float64
cos_time , Type: float64
day_of_month_sin , Type: float64
day_of_month_cos , Type: float64
month_of_year_sin , Type: float64
month_of_year_cos , Type: float64

# Upload to Duck DB retrain table

In [20]:
mother_duck_token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imd1eS53cHRoQGdtYWlsLmNvbSIsIm1kUmVnaW9uIjoiYXdzLWV1LWNlbnRyYWwtMSIsInNlc3Npb24iOiJndXkud3B0aC5nbWFpbC5jb20iLCJwYXQiOiJyUGFKNG81Q2dGNkZXeEZpQUlFNDN1Wno1TW1fRHVfOUpkd1NhY2N0bEtJIiwidXNlcklkIjoiODkzZmMwOGYtNWNmOS00NzYwLTg5NDYtMzFmYjM5ODNlYWYyIiwiaXNzIjoibWRfcGF0IiwicmVhZE9ubHkiOmZhbHNlLCJ0b2tlblR5cGUiOiJyZWFkX3dyaXRlIiwiaWF0IjoxNzYzNzQzMTUzfQ.-UTGlagTDRHkPijtUigW-jTojYtzujeJq03XGqXGgsM"
con = duckdb.connect(f"md:REG-Forecasting?motherduck_token={mother_duck_token}")

In [22]:
con.execute("DROP TABLE users")

In [23]:
con.execute("""
    CREATE TABLE retrain_data AS
    SELECT * FROM df_cleaned;
""")